ipython
jupyterlab
loguru
matplotlib
mkdocs
notebook
numpy
pandas
pip
pytest
python-dotenv
ruff
scikit-learn
tqdm
typer
-e .
matplotlib
munch
huggingface-hub
accelerate
bitsandbytes
requests
pyyaml
transformers
xarray